<!-- BEGIN .footer -->
<div class="footer">

    <!-- BEGIN .wrapper -->
    <div class="wrapper">

        <ul class="right">
            <li><a href="index.html">Homepage</a></li>
            <li><a href="blog.html">Blog Page</a></li>
            <li><a href="photo-gallery.html">Photo Gallery</a></li>
            <li><a href="error-404.html">404 Error Page</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
        </ul>

        <a href="index.html" class="logo-footer"><img src="{{ asset('bundles/emigrantlayout/images/logo-footer.png') }}" alt="" /></a>

        <p>&copy; 2013 Copyright <b>Allegro</b> theme. All Rights reserved.<br/>Designed by <a href="http://orange-themes.com" target="_blank" class="orange-themes">Orange-Themes.com</a></p>

        <!-- END .wrapper -->
    </div>

    <!-- END .footer -->
</div>