<!-- BEGIN .header -->
<div class="header">

    <!-- BEGIN .wrapper -->
    <div class="wrapper">

        <div class="header-logo">
            <!-- <h1><a href="index.html">Allegro</a></h1> -->
            <a href="index.html"><img src="{{ asset('bundles/emigrantlayout/images/logo-header.png') }}" alt="" /></a>
        </div>

        <div class="header-menu">
            <ul>
                <li><a href="category.html">Mediocritatem</a></li>
                <li><a href="category.html">Legendos</a></li>
                <li><a href="category.html">Tacimates</a></li>
                <li><a href="category.html">Consul</a></li>
            </ul>
            <p>Pro solet percipit no, id euismod tractatos qui. Ius id oratio viderer eleifend, homero pertinacia eam everti cu</p>
        </div>

        <div class="header-addons">
            <div class="header-weather">
                <span class="report">+14°C</span>
                <img src="{{ asset('bundles/emigrantlayout/images/weather-sun-cloud.png') }}" alt="" />
                <span class="city"><small>Cloudy</small><b>Riga, Latvia</b></span>
            </div>
            <div class="header-search">
                <form action="#" method="get">
                    <input type="text" placeholder="Search something.." value="" class="search-input" />
                    <input type="submit" value="Search" class="search-button" />
                </form>
            </div>
        </div>

        <!-- END .wrapper -->
    </div>

    {{ render(controller('KardiMenuBundle:Default:mainMenu')) }}

    {{ render(controller('KardiMenuBundle:Default:secondaryMenu')) }}

    <!-- END .header -->
</div>
