<!-- BEGIN .header -->
<div class="header">

    <!-- BEGIN .wrapper -->
    <div class="wrapper">

        <div class="header-logo">
            <!-- <h1><a href="index.html">Allegro</a></h1> -->
            <a href="index.html"><img src="{{ asset('bundles/emigrantlayout/images/logo-header.png') }}" alt="" /></a>
        </div>

        <div class="header-menu">
            <ul>
                <li><a href="category.html">Mediocritatem</a></li>
                <li><a href="category.html">Legendos</a></li>
                <li><a href="category.html">Tacimates</a></li>
                <li><a href="category.html">Consul</a></li>
            </ul>
            <p>Pro solet percipit no, id euismod tractatos qui. Ius id oratio viderer eleifend, homero pertinacia eam everti cu</p>
        </div>

        <div class="header-addons">
            <div class="header-weather">
                <span class="report">+14°C</span>
                <img src="{{ asset('bundles/emigrantlayout/images/weather-sun-cloud.png') }}" alt="" />
                <span class="city"><small>Cloudy</small><b>Riga, Latvia</b></span>
            </div>
            <div class="header-search">
                <form action="#" method="get">
                    <input type="text" placeholder="Search something.." value="" class="search-input" />
                    <input type="submit" value="Search" class="search-button" />
                </form>
            </div>
        </div>

        <!-- END .wrapper -->
    </div>

    <div class="main-menu sticky">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">

            <ul class="the-menu">
                <li><a href="index.html">Homepage</a></li>
                <li><a href="blog.html"><span>Blog View</span></a>
                    <ul>
                        <li><a href="blog-no-images.html">Blog Without Images</a></li>
                        <li><a href="blog-left.html">Blog With Left Block</a></li>
                        <li><a href="blog-no-middle.html">Blog Without Middle Block</a></li>
                        <li><a href="category.html">Category View</a></li>
                        <li><a href="post.html"><span>Post View</span></a>
                            <ul>
                                <li><a href="post-with-middle.html">Post With Middle Block</a></li>
                                <li><a href="post-left.html">Post With left Block</a></li>
                                <li><a href="post-comments.html">Post Without Comments</a></li>
                                <li><a href="post-highlights.html">Post With Story Highlights</a></li>
                            </ul>
                        </li>
                        <li><a href="full-width.html">Full Width Page</a></li>
                    </ul>
                </li>
                <li><a href="shortcodes.html"><span>Shortcodes</span></a>
                    <ul>
                        <li><a href="shortcodes.html#image-caption">Image With Caption</a></li>
                        <li><a href="shortcodes.html#youtube">Youtube Embed</a></li>
                        <li><a href="shortcodes.html#gallery">Gallery Preview</a></li>
                        <li><a href="shortcodes.html#blockquote">Blockquotes</a></li>
                        <li><a href="shortcodes.html#buttons">Colorful Buttons</a></li>
                        <li><a href="shortcodes.html#toggle">Toggle Block</a></li>
                        <li><a href="shortcodes.html#social">Social Icons</a></li>
                        <li><a href="shortcodes.html#alerts">Alert Messages</a></li>
                    </ul>
                </li>
                <li><a href="photo-gallery.html"><span>Photo Gallery</span></a>
                    <ul>
                        <li><a href="photo-gallery-single.html">Photo Gallery Single</a></li>
                        <li><a href="photo-gallery-single-lightbox.html">Photo Gallery Single Lightbox</a></li>
                    </ul>
                </li>
                <li><a href="archive.html">Archive</a></li>
                <li><a href="error-404.html">Error 404 Page</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
            </ul>

            <!-- END .wrapper -->
        </div>

    </div>

    <div class="secondary-menu">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">

            <ul>
                <li><a href="category.html">World</a></li>
                <li><a href="category.html">U.S.</a></li>
                <li><a href="category.html">Africa</a></li>
                <li><a href="category.html">Asia</a></li>
                <li><a href="category.html">Europe</a></li>
                <li><a href="category.html">Latin America</a></li>
                <li><a href="category.html">Middle East</a></li>
                <li><a href="category.html">Business</a></li>
                <li><a href="category.html">World Sport</a></li>
                <li><a href="category.html">Entertainment</a></li>
                <li><a href="category.html">Tech</a></li>
                <li><a href="category.html">Travel</a></li>
            </ul>

            <!-- END .wrapper -->
        </div>

    </div>

    <!-- END .header -->
</div>