<div role="tabpanel" class="tab-pane active" id="form_photo">
    {{ render(controller(
    'KardiMediaBundle:Admin:refreshPhotoList',
    { 'rootId': news.photo.id }
    )) }}
    {#{% include '@KardiMedia/Admin/photo_list.html.twig' with {'photos': news.photo.children} %}#}
</div>
