<div class="widget twitter-feed">
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.9&appId=530955950330860";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-page" data-href="https://www.facebook.com/Kardi-mobile-371309372997823/" data-tabs="timeline"
         data-width="300" data-height="400" data-small-header="false" data-adapt-container-width="true"
         data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/Kardi-mobile-371309372997823/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Kardi-mobile-371309372997823/">Kardi mobile</a></blockquote>
    </div>
</div>
