#writecomment .writecomment{
  display:block;
}

.writecomment{
  display:none;
}

.single-advertisement{
  .author{
    margin-right:auto;
  }

  .article-title{
    h1{
      margin-bottom:5px;
    }
  }
}

