{% macro display_flash_message() %}
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}
