<div id="writecomment">

    {{ form_start(commentForm, {'action': path('kardi_newsletter_subscribe'), 'method': 'POST'}) }}
    {{ form_widget(commentForm) }}
    {{ form_end(commentForm) }}

</div>
