{% if breakingNews | length > 0 %}
    <div class="breaking-news">
        <span class="the-title">Breaking News</span>
        <ul>
            {% for news in breakingNews %}
                <li>
                    <a href="{{ generate_news_url(news) }}">
                        {{ news.trans('title') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
