@import '../../../../../Kardi/FrameworkBundle/Resources/Public/css/plugins.scss';
@import '../../../../../Garden/LayoutBundle/Resources/Public/css/gallery.scss';

.page-wrapper {
  background-repeat: no-repeat;
}

.main-header {
  @include clearfix-after;
}

.main-header .header-top ul {
  border-bottom: 1px solid #008000;

  li:first-of-type {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  nav.main-menu {
    margin-top: 40px;
  }

  .department .department-details .details {
    min-height: 103px;
  }
}

.department .thumb {
  border: 10px solid white;
}

.white-homepage-title {

  background: black;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  padding: 5px 0px;
  border: 2px solid #ffffff;
  border-radius: 20px;

  //background: rgba(255,255,255,0.9);
  h3, h2 {
    color: rgba(255, 255, 255, 1);
  }

}

section.pt60 div.auto-container.pb-35 div.sec-title {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.main-header-wrapper {
  background: rgba(255, 255, 255, 0.9);
}

.page-wrapper {
  background-size: contain;
}

.featured-three-column .image {
  padding: 15px;
}

.blog-section .post-author {
  .inner-box {
    min-height: 0px;
  }
  .author-title {
    margin-bottom: 0px;
  }
}

.sidebar-section .comments-area .comment {
  padding: 0px;
  margin-bottom: 15px;
}

#writecomment .writecomment {
  display: block;
}

.writecomment {
  display: none;

  @include clearfix-before;
  padding-top: 10px;
}

.comment-form .form-group textarea {
  height: auto;
}

.sidebar-section .comments-area .reply-btn {
  padding: 4px 12px 2px;
  float: right;

  @include clearfix-after;
}

.about-section .lower-content .content-box .main-title {
  display: block;
}

label.required:after {
  content: "*";
  margin-left: 2px;
  display: inline-block;
  color: #ff0000;
}
