@import '../../../../Kardi/FrameworkBundle/Resources/Public/css/plugins.scss';

/*
  1. Images
 */

/* 1. Images */

.clearfix {
  @include clearfix-after;
  @include clearfix-before;
}

.img-admin-responsive {
  width: auto !important;
  max-width: 100%;
}

.admin-image-buttons {
  margin-top: 5px;
}

.photo-list-wrapper {
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #e7ecf1;

  &:nth-of-type(4n) {
    @include clearfix-after;
  }

  &:nth-of-type(4n+1) {
    clear: left;

    @include clearfix-before;
  }

  a.fancybox-button {
    display: inline-block;
    margin-bottom: 2px;
    box-shadow: 1px 1px 3px #888888;

    img {

    }
  }
}

#photo_admin_tab {
  position: relative;

  #loadingImageWrapper {
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.7;

    img {
      margin: 0 auto;
      margin-top: 10%;
      display: block;
    }
  }
}

.cropperRowWrapper {
  &:nth-of-type(3n) {
    @include clearfix-after;
  }

  &:nth-of-type(3n+1) {
    @include clearfix-before;
  }

  .cropperRow {
    img {
      max-width: 100%;

      &.photoPreview {
        display: block;
        margin: 0 auto;
      }
    }

    button.modalShow {
      margin: 5px auto;
      display: block;
    }
  }
}

/* 2. */

.page-logo {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;

  span {
    color: #add8e6;
  }
}

.form-group .required {
  color: inherit;
  font-size: inherit;
  padding-left: inherit;

  &:after {
    display: inline-block;
    content: " *";
    margin-left: 3px;
    color: #e02222;
  }
}

@media (min-width: 768px) {
  .form-horizontal {
    .mt-checkbox.mt-checkbox-single {
      margin-top: 7px;
    }
  }
}

a.quick-sidebar-toggler {
  color: #ffffff;
  font-weight: normal;

  i {
    margin-right: 5px;
  }
}

table.table.dataTable {
  img {
    max-width: 126px;
    max-height: 126px;
  }

  tr {


    td:last-of-type{
      max-width:150px;
    }

    &:first-of-type{
      td{
        input, select{
          max-width:150px;
        }
      }
    }
  }
}
