<div class="navbar-collapse collapse clearfix">
    <ul class="navigation">

        {% for item in menuItems %}
            <li>
                <a href="{{ item.route | length > 0 ? path(item.route) : '#' }}">
                    {{ item.trans('title') }}
                </a>
            </li>
        {% endfor %}
        {#<li class="dropdown current"><a href="index-1.html">Home</a>#}
            {#<ul>#}
                {#<li><a href="index-1.html">Home Style One</a></li>#}
                {#<li><a href="index-2.html">Home Style Two</a></li>#}
                {#<li><a href="index-3.html">Home Style Three</a></li>#}
            {#</ul>#}
        {#</li>#}
        {#<li><a href="about.html">About Us</a></li>#}
        {#<li class="dropdown"><a href="#">Feature Service</a>#}
        {#<ul>#}
        {#<li><a href="feature-service-one.html">Feature Service One</a></li>#}
        {#<li><a href="feature-service-two.html">Feature Service Two</a></li>#}
        {#<li><a href="feature-service-details.html">Feature Service Details</a></li>#}
        {#</ul>#}
        {#</li>#}
        {#<li class="dropdown"><a href="#">Page</a>#}
            {#<ul>#}
                {#<li><a href="appointment.html">Appointment Page</a></li>#}
                {#<li><a href="calendar.html">Calendar</a></li>#}
                {#<li><a href="coming-soon.html">Comiong Soon</a></li>#}
                {#<li><a href="faq.html">Faq</a></li>#}
                {#<li><a href="features-revolutions.html">Features Revolutions</a></li>#}
                {#<li><a href="gallery.html">Gallery</a></li>#}
                {#<li class="dropdown"><a href="#">Our Gardeners</a>#}
                    {#<ul>#}
                        {#<li><a href="gardener.html">Gardeners One</a></li>#}
                        {#<li><a href="gardener-2.html">Gardeners Two</a></li>#}
                        {#<li><a href="gardener-detail.html">Gardeners Details</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="dropdown"><a href="#">Our Services</a>#}
                    {#<ul>#}
                        {#<li><a href="services.html">Services One</a></li>#}
                        {#<li><a href="services-2.html">Services Two</a></li>#}
                        {#<li><a href="services-detail.html">Services Details</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="dropdown"><a href="#">Our Pricing</a>#}
                    {#<ul>#}
                        {#<li><a href="pricing.html">Pricing One</a></li>#}
                        {#<li><a href="pricing-2.html">Pricing Two</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="dropdown"><a href="#">Shop</a>#}
                    {#<ul>#}
                        {#<li><a href="shop.html">Shop Page</a></li>#}
                        {#<li><a href="product-details.html">Product Page</a></li>#}
                        {#<li><a href="cart-page.html">Cart Page</a></li>#}
                        {#<li><a href="checkout-page.html">Checkout Page</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li><a href="shortcode.html">Shortcode</a></li>#}
                {#<li><a href="under-construction.html">Under Construction</a></li>#}
                {#<li><a href="404.html">404</a></li>#}
            {#</ul>#}
        {#</li>#}
        {#<li class="dropdown"><a href="#">Blog</a>#}
            {#<ul>#}
                {#<li><a href="blog.html">Blog One</a></li>#}
                {#<li><a href="blog-three-column.html">Blog Three Column</a></li>#}
                {#<li><a href="blog-detail.html">Blog Details</a></li>#}
            {#</ul>#}
        {#</li>#}
        {#<li><a href="contact.html">Contact Us</a></li>#}
    </ul>
</div>
