<div class="block">
    <div class="banner">
        <a href="{{ banner.website }}" target="_blank">
            <img src="{{ asset(banner.image(size)) }}" alt="{{ banner.title }}" />
        </a>
    </div>
</div>
