<div class="secondary-menu">
    <div class="wrapper">
        <ul>
            {% if menu.items is defined %}
                {% for item in menu.items %}
                    <li>
                        <a href="{{ item.getLink }}">
                            {{ item.trans('title') }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
