<div class="block">
    <div class="banner">
        <a href="{{ ad.website }}" target="_blank">
            <img src="{{ asset(ad.image(size)) }}" alt="{{ ad.title }}" />
        </a>
    </div>
</div>
