<div class="ad-banner">
    <a href="contact-us.html" class="ad-link top"><span class="icon-text">&#9662;</span>Advertisement<span
                class="icon-text">&#9662;</span></a>
    <a href="#" target="_blank"><img
                src="{{ asset('bundles/emigrantlayout/images/no-banner-728x90.jpg') }}" alt=""/></a>
</div>